
<div >
    <div style="height:100px" ng-include="'/partials/myOne.html'"></div>
    <div ng-show="p===1" style="height:79%" ng-include="'/partials/pageOne.html'"></div>
    <div ng-show="p===2" style="height:79%" ng-include="'/partials/pageTwo.html'"></div>
    <div ng-show="p===3" style="height:79%" ng-include="'/partials/pageThree.html'"></div>
    <div ng-show="p===4" style="height:79%" ng-include="'/partials/pageFour.html'"></div>
    <div ng-show="p===5" style="height:79%" ng-include="'/partials/pageFive.html'"></div>
    <div ng-show="p===6" style="height:79%" ng-include="'/partials/pageSix.html'"></div>
    <div ng-show="p===7" style="height:79%" ng-include="'/partials/pageSeven.html'"></div>
    <div ng-show="p===8" style="height:79%" ng-include="'/partials/pageEight.html'"></div>
    <div  style="height:11%" ng-include="'/partials/myTwo.html'"></div>
</div>
