<style>
    body{
        margin: 0;
        padding: 0;
    }
    .footerDiv
    {
        height: 120px;
        background-color: #2b81af;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .footerDiv table
    {
        background-image: url("images/footerBack.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        width: 100%;
        height: 100%;
    }
</style>
<div class="footerDiv">
    <table>
        <tr>
            <td>
                <span style="color: white">Copyright 2017 Quixey.All rights reserved.</span>
            </td>
        </tr>
    </table>
</div>