<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf8"/>
        <base href="/"/>

        <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'/>
       <style type="text/css" media="all">

       </style>
    </head>
    <body>
        
        <div class="container" id="app-container" background-color="#ffffff" style="" ng-view></div>
        <script data-main="scripts/webapp.min.js" src="scripts/lib/requirejs/require.js"></script>

        
    </body>
</html>