body {
    background-color: powderblue ;
}
h1 {
    color: blue ;
}
p {
    color: red ;
}
.comp-log
{
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: 0 0 30px 0px #888888;
}
.pg-body{
    margin-top:20px ;
}
.logo{
    height: 60px;
}
.header{
    position: fixed;
    width: 100%;
}
.boot-nav{
    margin-top: 45px;
}
.navbar {
    -webkit-box-shadow: 0 9px 6px -6px #999;
    -moz-box-shadow: 0 9px 6px -6px #999;
    box-shadow: 0 9px 6px -6px #999;
    width: 95%;
    background-color: white;
    border: none;

    /* the rest of your styling */
}
.navItems
{
    margin-left: 15px;

}